/* styles for entire app */
body {
  font-family: Helvetica;
}

/* datatable selected */
table.dataTable tr.selected td, 
table.dataTable td.selected {
	background-color: #00b099 !important; /* from accent pallette */
	}

/* datatable row hover */
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
background-color: #cdcdcd !important; /* v_v_light_gray */
cursor: pointer !important;}

/* datatable border color */
table.dataTable {
  border-collapse: collapse;
}

table.dataTable, td{
  border: 3px solid #0168ae; /* c_1 */
}

/* Lines after major Headers */
h1{
  border-bottom:5px solid #0168ae; /* c_1 */
  padding-bottom:2px;
}
h2{
  border-bottom:3px solid #CCC; /* gray */
  padding-bottom:3px;
}
h3{
  border-bottom:1px solid #CCC;
  padding-bottom:3px;
}


/* simple footer to style with a <div>id="site-footer"</div> */
/* could define ellaborate footer in footer.html */
/* would like to keep footer low on page when content is minimal */
#site-footer {
  margin-top: 50px; /* space between content and footer */
	background: #0168ae center no-repeat; /* c_1 */
	border-top: 3px solid black;
	text-align: left;
	vertical-align: middle;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
  padding-top: 25px; 
  padding-bottom: 5%; 
  padding-left: 5%;
  box-shadow: 0 50vh 0 50vh #0168ae;
}